{% autoescape false %}
<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col">
            <h2  class="display-4 text-center">Error 404 not found</h2>
        </div>
    </div>
      <div class="row justify-content-center mt-1">
        <div class="col-8">
            <p class="text-center">
                {{message}}
            </p>
        </div>
    </div>
</div>
{% endautoescape %}
