{% autoescape false %}
<div class="container full-container">
    <div class="row justify-content-center ">
        <div class="col-12">
            <h1 class="display-4 text-center">Test PHP</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-8">
            <p class="text-center">
                This is a live test of an employee management application, using a PHP REST API (without frameworks) and a PHP interface (without frameworks, but with Twig and bootstrap 5)
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            <button type="button" id="startButton" class="btn btn-primary">Start</button>
        </div>
    </div>
</div>
{% endautoescape %}
